fastapi
uvicorn
requests
python-dotenv
supabase
slowapi
pydantic
email-validator
python-multipart
schedule
resend
google-generativeai
instaloader
apify-client
psycopg2-binary
redis
rq
razorpay
librosa
numpy
scipy
soundfile
moviepy
Pillow
imageio
imageio-ffmpeg
